extends layout

block content
  div(data-role='header')
    h1=title
  div(data-role='content')
    ul(data-role='listview', data-filter='true', data-filter-placeholder='Search')
      each item in agenda
        li
          a(href=item.Url)
            h3.ui-li-heading
              img(src=item.Img, style='height:50px; width:50px')
              span(style='margin-left: 5px')=item.Presenter
            .ui-li-desc
              strong=item.Time
              span(style='margin-left: 5px')=item.Topic
