extends layout

block content
  div(data-role='header')
    h1(style='margin-left: 10%; margin-right: 10%')=title
    a(href='/about', data-icon='info', class='ui-btn-right', data-iconpos='notext') About
  div(data-role='content')
    ul(data-role='listview', data-filter='true', data-filter-placeholder='Search')
      each item in agenda
        li
          a(href=item.Url)
            img(src=item.Img, class='ul-li-thumb', style='height:80px; width:80px')
            h3.ui-li-heading
              span=item.Presenter
            .ui-li-desc(style='margin-bottom:0')
              strong=item.Time
              span(style='display:block')=item.Topic
