extends layout

block content
  div(data-role="header")
    a(data-role="button"
      data-icon="home"
      href="/") Home
    h1
      &nbsp;

  div(data-role="content")
    h3(data-nav-title)
      img(src=presentation.Img
          width="50px"
          height="50px"
          alt=presentation.Presenter)
      span(style='margin-left:5px')=presentation.Presenter
    p.clear=presentation.Topic

    div(data-role="fieldcontain")
      label(for=presentation.Url) Rating:
      select(id=presentation.Url
             data-native-menu="false")
        option(value=-1) Rate
        option(value=5) 5 - Great
        option(value=4) 4
        option(value=3) 3
        option(value=2) 2
        option(value=1) 1 - Poor

    a(data-role="button"
      data-icon="check"
      data-theme="b"
      href="/") Send
